<div style='text-align: center'>

<div class='well foodcardbig'>
        <img class='platephotobig' src=<%= myPlate.photo%>>
        <h3><a href='/plates/<%= myPlate.id%>/show'><%= myPlate.name %></a></h3>
        <h3><a href='/chefs/<%= myPlate.chefId%>/show'><%=myPlate.chef.user.name%></a></h3>
        <p><%= myPlate.description %></p>
</div>

<% if (thisUser) {%>
<% if (thisUser.isChef) {%>
<% if (myPlate.chefId  === thisUser.chef .id){ %>
<div style='text-align: center'>
        <form action="/plates/<%=myPlate.id %>/show" method="POST" role="form">
                <button type="submit" class="btn btn-success">send special</button>
        </form>
</div>
<% };  %>
<% };  %>
<% };  %>
</div>