<h2>Edit User Page</h2>

<form action="/users/edit" method="POST" role="form">
        <div class="form-group">
                <label for="">Please update us!</label>
                <% var user = mychef.user ? mychef.user : mychef %>
                        <input type="text" class="form-control" name="name" value="<%= user.name %>">
                        <input type="text" class="form-control" name="email" value="<%= user.email %>">
                        <input type="text" class="form-control" name="phone" value="<%= user.phone %>" onkeypress="return isNumberKey(event)">
                        <!-- <INPUT id="txtChar"  type="text" name="txtChar"> -->

                        <select name='chef'>
                                <option value="<%= user.isChef  %>">
                                                            <% if(user.isChef === true) { %>
                                        <p>You are currently a chef. Want to change?</p>
                             <% } else  { %>
                                        <p>You are currently a patron.Want to change?</p>
                             <% } %>

                                </option>
                                <option value="true">I'm a chef</option>
                                <option value="false">I just want to eat</option>
                </select>
                <% if(mychef.user) { %>
                        <input type="text" class="form-control" name="restaurant" value="<%= mychef.restaurant %>">
                        <input type="text" class="form-control" name="location" value="<%= mychef.location %>">
                        <input type="text" class="form-control" name="bio" value="<%= mychef.bio %>">
                        <input type="text" class="form-control" name="photo" value="<%= mychef.photo %>">
                <% } %>
        </div>
        <button type="submit" class="btn btn-default">update your profile</button>
</form>


