<div class="col-md-3 col-md-offset-1">
<h2><%= chef.user.name %></h2>
<h4>restaurant: <%= chef.restaurant %></h4>
<img class='chefphoto' src=<%= chef.photo%>>
<p><%= chef.bio%></p>
<h4>fine me cooking in: <%= chef.location %></h4>

<form action="/chefs/<%= chef.id %>/show" method="POST" role="form">
    <select name='toggle'>
        <option value="follow">follow</option>
        <option value="unfollow">unfollow</option>
    </select>
    <button type="submit" class="btn btn-default">follow/unfollow</button>
</form>

<% if (currentUser.isChef) {%>
<% if (chef.user.id  === currentUser.id){ %>
<button type="submit" class="btn btn-default"><a href='/chefs/plates/new'>create new plate</a></button>
<% };  %>
<% };  %>
</div>
<div class="col-md-8">
<h2>chef 's specials</h2>
<%plates.forEach(function(plate) { %>
<h4><a href='/plates/<%= plate.id%>/show'><%= plate.name %></a></h4>
<img class='platephoto' src=<%= plate.photo%>>
<% }); %>
</div>
